.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* justify-content: center; */
  align-items: center;
  margin-right: 0;
}

.button {
  background-color: white;
  height: 20px;
  border-radius: 20px;
}